{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Add Google API books{% endblock %}

{% block content %}
     <div class="row d-flex mt-3">
        <div class="row">

            <div class="col-xl">
                <h1>Add Google API books</h1>

                {% if messages %}
                    {% for message in messages %}
                        {% if 'danger' in message.tags %}
                            <p class="text-danger">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class='btn btn-success'>
                </form>
            </div>

        </div>
    </div>

{% endblock %}