{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Select Google API books{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl">
            </div>
            <div class="col-xl">
                <h1>Select Google API books</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class='btn btn-success'>
                </form>
            </div>
            <div class="col-xl">
            </div>
        </div>
    </div>

{% endblock %}