{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Add new book{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl">

            </div>
            <div class="col-xl">
                <h1>Add Book</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <input type="submit" class='btn btn-success' value="Save">
                </form>
            </div>
            <div class="col-xl">

            </div>
        </div>
    </div>

{% endblock %}