{% extends '_base.html' %}
{% load static %}
{% block title %}
    All books
{% endblock %}
{% block content %}

    {% for book in books %}
        <div class="column">
            <div class="card mt-3" style="min-height: 530px;">
                <img class="card-img-top mb-3"
                     src="http://books.google.com/books/content?id=yUijDgAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                     alt="{{ book.title }}">
                <div class="card-block">
                    <h5 class="card-title">{{ book.title }}</h5>

                    <p class="card-text">
                        <small class="text">
                            {{ book.author.all|join:" | " }}
                        </small>
                    </p>

                    <p class="card-text">
                        <small class="text">
                            ISBN: {{ book.isbn }}
                        </small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{ book.language }} | {{ book.published_date }}
                        </small>
                    </p>

                    <p class="card-text">
                        <small class="text-muted">
                            {{ book.page_count }} pages
                        </small>
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{% url 'books:book_edit' book.pk %}">
                            <button type="button" class="btn btn-success">
                                <i class="bi bi-pencil-square"> edit</i>
                            </button>
                        </a></li>
                    </ul>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <form action="{% url 'books:book_delete' pk=book.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-pencil-square"> delete</i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% empty %}
        <p><a href="">Add book</a></p>
    {% endfor %}

{% endblock %}