{% extends '_base.html'%}
{% load static %}
{% block title %}
    All books
{% endblock %}
{% block content %}
   {% for book in books %}
            <div><h2>
                <br>
                <a href="{% url 'books:book_detail' book.pk %}">{{ book.title }} (id: {{ book.pk }})</a>
            </h2>
                <p>Author: {{ book.author }}</p>
                <p>Language: {{ book.language }}</p>
            </div>
            {% empty %}
            <p><a href="">Add book</a></p>
        {% endfor %}
{% endblock %}